<%=simple_form_for @founder do |f| %>
  <%= f.input :name %>
  <%= f.input :profile_pic %>
  <%= f.input :about_me, label: "About the founders", as: :text, size:"60", maxlength: "100" %>
  <%= f.input :mission_state, lable: "Mission Statment" %>
  <%= f.input :company_description, label: "Description", hint: "What are you building?", as: :text,  maxlength: "200", size: "60" %>
  <%= f.input :company_status, label: "Status", hint: "How many employees, investment stage, product status, etc.", as: :text, maxlength: "300", size: "60" %>
  <%= f.input :accelerator %>
  <%= f.input :investors, as: :text %>
  <div class="form-actions">
      <%= f.button :submit %>
  </div>
  
<% end %>

