<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html></html>
<head>
  <title>Mentees</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Arvo:400,400italic,700italic" rel="stylesheet" type="text/css"></link>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet"></link>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
 
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

</head>
<body>
  <header class="main_header clearfix">
    <div class="wrapper">
      <div id="logo">
        <img src="https://s3.amazonaws.com/uploads.hipchat.com/28086/195583/nINDfykgttyYmJh/mantis.png" height="42" width="42">
        <p>
          <%= link_to "Mentees", root_path %>
        </p>
      </div>
      <div id="buttons">
        <%= link_to "Login as Founder", "/new_user/founder" %>
        <%= link_to 'Login as Mentor', "/new_user/mentor" %>
      </div>
    </div>
  </header>
  <div class="wrapper">
    <%= yield %>
  </div>
  <footer>
        <div class="row">
            <div class="col-lg-12">
            

        </div>

  </footer>
</body>
